// Import font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// Import utils
@import './utils/variables';

// Import components
@import './components/header';
@import './components/main';
@import './components/post-grid';
@import './components/post-create';
@import './components/post-card';

// General styles
* {
   margin: 0;
   padding: 0;
   font-family: 'Lato', sans-serif;
   font-size: 12px;
   line-height: 1.5em;
}

body {
   display: flex;
   justify-content: center;
}

.container {
   width: 1024px;
   background-color: $clr-bg;

   @media (max-width: $bp-l) {
      width: 100%;
   }
}

.btn {
   height: 30px;
   width: 200px;
   border: none;
   background-color: $clr-highlight;
   border-radius: 15px;
   color: $clr-light;
   margin: 0 auto;
   cursor: pointer;
}

.loader {
   $loader-size: 2rem;
   $loader-size-half: calc(#{$loader-size} / 2);
   position: relative;
   width: 100%;
   padding-bottom: 100%;

   &::before {
      content: '';
      position: absolute;
      top: calc(50% - #{$loader-size-half});
      left: calc(50% - #{$loader-size-half});
      width: $loader-size;
      height: $loader-size;
      border-radius: 50%;
      background-color: $clr-highlight;
      animation: 2s loader infinite;
   }
}

@keyframes loader {
   0% {
      transform: scale(0);
      opacity: 0;
   }

   50% {
      transform: scale(1);
      opacity: 0.8;
   }

   100% {
      transform: scale(0);
      opacity: 0;
   }
}
