// Colors
$clr-bg: #f4f4f4;
$clr-light: #fff;
$clr-gray100: #2b2b2b;
$clr-gray200: #404040;
$clr-gray300: #868686;
$clr-gray400: #c5c5c5;
$clr-highlight: #f27623;

// Breakpoints
$bp-l: 1040px;
$bp-m: 850px;
$bp-s: 600px;
$bp-xs: 500px;
$bp-xxs: 400px;

$shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
