.post-create {
   grid-column: 1;
   display: flex;
   flex-wrap: wrap;
   background-color: $clr-light;
   padding: 2rem;
   height: fit-content;
}

.form__item {
   display: flex;
   width: 100%;
   flex-direction: column;
   padding: 0 0 2rem 0;

   & label {
      color: $clr-gray200;
      padding: 0 0 0.66rem 0;
   }

   & input,
   & select,
   & textarea {
      background-color: $clr-bg;
      border: none;
   }

   & *::placeholder {
      color: $clr-gray400;
      font-style: italic;
      font-weight: 300;
   }
}

.item--title input {
   padding: 1rem 1.5rem;
}

.item--category {
   position: relative;

   & select {
      padding: 1rem 1.5rem;
      appearance: none;

      &:invalid {
         color: $clr-gray400;
         font-style: italic;
         font-weight: 300;
      }
   }

   &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      content: '>';
      position: absolute;
      bottom: 2rem;
      right: 0;
      height: 42px;
      width: 30px;
      transform: rotate(90deg) scale(0.7, 1.2);
      font-size: 1.5rem;
      pointer-events: none;
   }
}

.item--message {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   max-height: 400px;

   & textarea {
      min-height: 350px;
      padding: 1rem 1.5rem;
      flex-grow: 1;
   }
}

.form__item .invalid {
   box-shadow: 0 0 0 2px $clr-highlight;
}

@media (max-width: $bp-m) {
   .item--title {
      width: calc(50% - 1rem);
      padding-right: 1rem;
   }

   .item--category {
      width: calc(50% - 1rem);
      padding-left: 1rem;
   }

   .item--message textarea {
      min-height: 150px;
   }
}

@media (max-width: $bp-s) {
   .item--title {
      width: 100%;
      padding-right: 0;
   }

   .item--category {
      width: 100%;
      padding-left: 0;
   }

   .item--message textarea {
      min-height: 150px;
   }
}
